GEMINI_API_KEY=
PADDLE_WEBHOOK_SECRET=
VITE_ADMOB_BANNER_ID=
VITE_ADMOB_INTERSTITIAL_ID=
VITE_ADMOB_REWARDED_ID=
VITE_PADDLE_CLIENT_TOKEN=
VITE_PADDLE_VENDOR_ID=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=